:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: "Roboto","Helvetica Neue","Verdana", sans-serif;
    color: var(--slate);
    background: var(--white);
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--iris);
}
ul {
    list-style-type: none;
}
h2,h3 {
    color: var(--navy-blue);
}
button {
border-radius: 4px;
padding: 16px 32px;
background: var(--iris);
font-weight: 500;
line-height: 1.5;
color: var(--white);
cursor: pointer;
} 
button:hover{
    background-color: var(--ocean);
}

.logo-header{
    color: var(--navy-blue);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
}
.logo-accent {
    color: var(--iris);
}
.item-nav {
line-height: 1.5;
color: var(--navy-blue);
font-weight: 500;
}
.item {line-height: 1.5;
    color: var(--navy-blue);
    font-weight: 500;
}
.item:active { 
    text-decoration: underline;
}
.tel, .email {
    color: var(--slate);
    font-style: normal;
    line-height: 1.5;
}
.hero {
    background: var(--navy-blue);
    text-align: center;
    width: 1440px;
    height: 600px;
}
.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
}
.heading-style {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
.text {
    line-height: 1.5;
}
.section-title {
line-height: 1.11111;
font-weight: 700;
font-size: 36px;
text-align: center;
}
.h3-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.footer {
    background: var(--navy-blue);
    width: 1440px;
    height: 312px;
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
}
.logo-footer {
    color: var(--cloud);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
}