:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background: var(--white);
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h2,h3 {
    color: var(--navy-blue);
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
} 
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
    color:#4d5ae5;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
 .footer-logo .logo-part {
    color: #f4f4fd;
}
.nav-link {
    line-height: 1.5;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}
.nav-link:active,
.nav-link:hover,
.nav-link:focus { 
    text-decoration: underline;
    color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    display: block;
    padding: 24; 0;
    font-size: 16px;
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-link:hover, 
.contacts-link:focus {
    color:#404bbf;
}
.hero {
    background: var(--navy-blue);
    text-align: center;
}
.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button {
    background: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    color: var(--white);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
}

.button:focus {
    background-color: #404BBF;
}

.button:hover {
    background-color: var(--ocean);
}
.heading-style {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-section {
    background-color: #F4F4FD;
}
.team-member {
    background-color: #FFFFFF
}
.s-title {
line-height: 1.11;
font-weight: 700;
font-size: 36px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-title {
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.main-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.footer {
    background: var(--navy-blue);
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
